<section class="blog">
  <div class="blog__description">
    <h1 class="blog__title">BLOG</h1>
    <h2 class="blog__subtitle">Our Latest Articles</h2>
  </div>
  <div class="blog__card">
    <div class="blog__card-wrap">
      <div class="blog__card-img">
        <img class="blog__img" src="../assets/images/lady.png" alt="" />
      </div>
      <div class="blog__card-texts">
        <h4 class="blog__card-title">
          Top 10 Web Design Agencies in Port Harcourt, Nigeria
        </h4>
        <p class="blog__card-text">
          There are many web design agencies in Port Harcourt..
        </p>
        <span class="blog__card-cta">READ MORE</span>
      </div>
    </div>
    <div class="blog__card-wrap">
      <div class="blog__card-img">
        <img class="blog__img" src="../assets/images/men.png" alt="" />
      </div>
      <div class="blog__card-texts">
        <h4 class="blog__card-title">
          Why Do I Need A Website For My Business?
        </h4>
        <p class="blog__card-text">
          If you’re a business owner on the fence about creating a...
        </p>
        <span class="blog__card-cta">READ MORE</span>
      </div>
    </div>
    <div class="blog__card-wrap">
      <div class="blog__card-img">
        <img class="blog__img" src="../assets/images/khaby-lame.png" alt="" />
      </div>
      <div class="blog__card-texts">
        <h4 class="blog__card-title">
          The Necessity Of Search Engine Optimization
        </h4>
        <p class="blog__card-text">
          The majority of small businesses now understand that search engine...
        </p>
        <span class="blog__card-cta">READ MORE</span>
      </div>
    </div>
  </div>
</section>
