<header class="container">
  <section class="contact-header">
    <article class="contact-header__article">
      <div
        class="contact-header__article__circle contact-header__article__circle--1"
      >
        <img src="../assets/icons/Ellipse 20.svg" alt="" />
      </div>
      <div
        class="contact-header__article__circle contact-header__article__circle--2"
      >
        <img src="../assets/icons/Ellipse 21.svg" alt="" />
      </div>
      <h1 class="contact-header__article__title">Contact Us</h1>
      <p class="contact-header__article__para">Let's discuss your project.</p>
      <ul class="contact-header__article__logo__container">
        <li class="contact-header__article__logo">
          <a href="#"
            ><img src="../assets/icons/facebook-icon.svg" alt="facebook-icon"
          /></a>
        </li>
        <li class="contact-header__article__logo">
          <a href="#"
            ><img src="../assets/icons/twitter-icon.svg" alt="twitter-icon" />
          </a>
        </li>
        <li class="contact-header__article__logo">
          <a href="#"
            ><img src="../assets/images/whatsapp.png" alt="whatsapp-icon"
          /></a>
        </li>
        <li class="contact-header__article__logo">
          <a href="#"
            ><img src="../assets/images/instagram.png" alt="instagram-icon"
          /></a>
        </li>
        <li class="contact-header__article__logo">
          <a href="#"
            ><img src="../assets/icons/linkedin-icon.svg" alt="linkedin-icon" />
          </a>
        </li>
      </ul>
    </article>
    <aside class="contact-header__aside">
      <div
        class="contact-header__aside__container contact-header__aside__container--1 hide"
      >
        <img
          src="../assets/images/happy asian woman(1).png"
          alt="happy asian woman"
        />
      </div>
      <div
        class="contact-header__aside__container contact-header__aside__container--2"
      >
        <img
          src="../assets/images/happy-successful-consultant-talking-mobile-phone 1(1).png"
          alt="happy business consult"
        />
      </div>
    </aside>
  </section>

  <section class="box__container">
    <div class="box__container__item">
      <img src="../assets/icons/briefcase.svg" alt="" />
      <p>Check all Services</p>
    </div>
    <div class="box__container__item">
      <img src="../assets/icons/location.svg" alt="" />
      <p>Get directions to our office</p>
    </div>
    <div class="box__container__item">
      <img src="../assets/icons/message.svg" alt="" />
      <p>Send us a direct mail</p>
    </div>
  </section>
</header>
