<footer class="foot">
  <div class="foot__wrapper">
    <div class="foot__container">
      <div class="foot__digit">
        <div class="foot__first-icon">
          <img src="../assets/icons/logo-icon.svg" alt="">
        </div>
        <p class="foot__description">We are your one-stop-shop agency for everything to help small businesses thrive online. We build effective strategies to help you reach customers and prospects across the entire web.</p>
        <div class="foot__second-icons">
          <a href=""><img src="../assets/icons/facebook-icon.svg" alt=""></a>
          <a href=""><img src="../assets/icons/twitter-icon.svg" alt=""></a>
          <a href=""><img src="../assets/icons/whatsapp-icon.svg" alt=""></a>
          <a href=""><img src="../assets/icons/instagram-icon.svg" alt=""></a>
          <a href=""><img src="../assets/icons/linkedin-icon.svg" alt=""></a>
        </div>
      </div>

      <div class="foot__about">
        <div class="foot__company">
          <h3 class="foot__heading">Company</h3>
          <ul class="foot__menu">
            <li class="foot__list"><a class="foot__link" href="">Home</a></li>
            <li class="foot__list"><a class="foot__link" href=""> Service</a></li>
            <li class="foot__list"><a class="foot__link" href="">Team</a> </li>
            <li class="foot__list"><a class="foot__link" href="">Blog</a> </li>
          </ul>
        </div>

        <div class="foot__services">
          <h3 class="foot__heading">Services</h3>
          <ul class="foot__menu">
            <li class="foot__list"><a class="foot__link" href="">UI/UX Design</a> </li>
            <li class="foot__list"><a class="foot__link" href="">Marketing</a> </li>
            <li class="foot__list"><a class="foot__link" href="">Web Dev.</a> </li>
            <li class="foot__list"><a class="foot__link" href="">Mobile App</a> </li>
          </ul>
        </div>

        <div class="foot__contact">
          <h3 class="foot__heading">Contact</h3>
          <ul class="foot__menu">
            <li class="foot__list"><a class="foot__link" href="tel:+2348112416080">+2348112416080</a></li>
            <li class="foot__list"><a class="foot__link" href="mailto:">example@ex.com</a> </li>
            <li class="foot__list"><a class="foot__link" href="www.digit.com">www.digit.com</a> </li>
          </ul>
        </div> 
      </div>
    </div>
    <div class="foot__copyright-division">
      <p class="foot__copy-right">Copyright &copy; 2022 furnique . All rights reserved.</p>
    </div>
    
  </div>
</footer>
