<footer class="foot">
  <div class="foot__wrapper">
    <div class="foot__container">
      <div class="foot__digit">
        <div class="foot__first-icons">
          <img src="../assets/icons/circle-icon.svg" alt="">
          <img src="../assets/icons/digit-icon.svg" alt="">
        </div>
        <p class="foot__description">We are your one-stop-shop agency for everything to help small businesses thrive online. We build effective strategies to help you reach customers and prospects across the entire web.</p>
        <div class="foot__second-icons">
          <img src="../assets/icons/facebook-icon.svg" alt="">
          <img src="../assets/icons/twitter-icon.svg" alt="">
          <img src="../assets/icons/whatsapp-icon.svg" alt="">
          <img src="../assets/icons/instagram-icon.svg" alt="">
          <img src="../assets/icons/linkedin-icon.svg" alt="">
        </div>
      </div>

      <div class="foot__about">
        <div class="foot__company">
          <h3 class="foot__heading">Company</h3>
          <ul class="foot__menu">
            <li class="foot__list">Home</li>
            <li class="foot__list">Service</li>
            <li class="foot__list">Team</li>
            <li class="foot__list">Blog</li>
          </ul>
        </div>

        <div class="foot__services">
          <h3 class="foot__heading">Services</h3>
          <ul class="foot__menu">
            <li class="foot__list">UI/UX Design</li>
            <li class="foot__list">Marketing</li>
            <li class="foot__list">Web Dev.</li>
            <li class="foot__list">Mobile App</li>
          </ul>
        </div>

        <div class="foot__contact">
          <h3 class="foot__heading">Contact</h3>
          <ul class="foot__menu">
            <li class="foot__list">+2348112416080</li>
            <li class="foot__list">example@ex.com</li>
            <li class="foot__list">www.digit.com</li>
          </ul>
        </div> 
      </div>
    </div>
    <div class="foot__copyright-division">
      <p class="foot__copy-right">Copyright &copy; 2022 furnique . All rights reserved.</p>
    </div>
    
  </div>
</footer>
