<section class="login">
    <div class="login__container">
        <div class="login__img-box">
            <div class="login__logo-box">
                <img src="assets\icons\Vector.svg" alt="" class="login__logo">
                <img src="assets\icons\Digit.svg" alt="" class="login__logo-text">
            </div>
            
            <div class="login__transparent">
                <h1 class="login__title">Tips!!!</h1>
                <p class="login__desc">We offer a complete package of high-quality digital marketing services at affordable prices. Call now for a fast quote!</p>
            </div>
        </div>
        <div class="login__form-container">
            <h2 class="login__form-head">Login to your Account</h2>
            <p class="login__form-desc">Welcome back!</p>
            <form action="" class="login__form">
                <label for="email" class="login__label">Email <input type="email" id="email" name="email" class="login__input login__input--active"></label>
                <label for="password" class="login__label">Password <input type="password" id="password" name="password" class="login__input login__input--active"></label>
                <div class="login__forget-pass">
                    <a href="#" class="login__forget">Forgot Password?</a>
                </div>
                
                
                <input type="submit" class="login__submit login__submit--active" value="Login">

                <p class="login__btn-desc">Do not have account? <a class=login__forget href="register.html">Register here</a></p>
            </form>

        </div>
    </div>

</section>