<nav class="nav-bar container">
  <div class="nav-bar__logo-container">
    <img src="../assets/images/Digit logo.png" alt="Digit logo" />
    <a href="../index.html">Digit</a>
  </div>
  <div class="nav-bar__link-container">
    <ul class="nav-bar__link-container__links">
      <li class="nav-bar__link-container__hover">
        <a
          href="../index.html"
          class="nav-bar__link-container__link"
          >Home</a
        >
        <img
          src="../assets/images/Border-active.png"
          alt=""
          class="blue-dot"
        />
      </li>
      <li class="nav-bar__link-container__hover">
        <a href="../services.html" class="nav-bar__link-container__link"
          >Services</a
        >
        <img src="../assets/images/Border-active.png" alt="" class="blue-dot" />
      </li>
      <li class="nav-bar__link-container__hover">
        <a href="#" class="nav-bar__link-container__link">Team</a>
        <img src="../assets/images/Border-active.png" alt="" class="blue-dot" />
      </li>
      <li class="nav-bar__link-container__hover">
        <a href="#" class="nav-bar__link-container__link">Blog</a>
        <img src="../assets/images/Border-active.png" alt="" class="blue-dot" />
      </li>
      <li class="nav-bar__link-container__hover">
        <a href="../contact.html" class="nav-bar__link-container__link active-link"
          >Contact</a
        >
        <img src="../assets/images/Border-active.png" alt="" class="blue-dot active-dot" />
      </li>
    </ul>
    <button>Get started</button>
  </div>
  <button class="nav-bar__mobile-nav-btn">
    <div class="nav-bar__mobile-nav-btn__open-btn">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="nav-bar__mobile-nav-btn__close-btn">X</div>
  </button>
</nav>
