<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reg.css" />
    <title>Digit Register Page</title>
  </head>
  <body>
<div class="contact-form">
  <h2 class="con-title">Create Account</h2>
  <p class="conRegist-paragraph">
      Enter your details to get start your track 
      started with us.

    <div className="form-container">
      <div className="register-form-container">
        <form className="register-form" onSubmit={formSubmit}>
          <div className="form-group">
            <label htmlFor="name">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="Phone Number"><b>Phone Number</b></label>
    <input type="Phone Number" placeholder="Enter Phone Number" name="Phone Number" id="Phone Number" required>

    <label for="address"><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" id="address" required>

    <label for="gender"><b>Gender</b></label>
    <input type="gender" placeholder="Enter Gender" name="gender" id="gender" required>

    <label for="age range"><b>Age Range</b></label>
    <input type="age range" placeholder="Enter Age Range" name="age range" id="age range" required>

    <label for="Track"><b>Track</b></label>
    <input type="Track" placeholder="Track" name="Track" id="Track" required>

    <label for="time dedication"><b>Time Dedication</b></label>
    <input type="time dedication" placeholder="Time Dedication" name="time dedication" id="time dedication" required>

    <label for="employment status"><b>Employment Status</b></label>
    <input type="employment status" placeholder="Employment Status" name="employment status" id="employment status" required>
    <hr>

    <div className="register-buttons">
      <button type="submit" className="register-btn" to="/signin">Register</button>
    </div>
  </form>
  <div className="notice-account">
    <p>
      Already have an account?
      <span><Link className="login-link" id="register-on-login" to="/login">Login</Link></span>
    </p>

