
<section class="Register">
  <div class="Registersignup">
  <div class="Reg__container">
    <div class="Reg__img">
      <div class="Reg__logo-box">
        <img src="assets/icons/Vectorimg.png" alt="" class="logo"/>
        <img src="assets/icons/Digit.png" alt="" class="text"/>
      </div>
      <!-- <div>
<img src="/assets/images/wes-hicks-4-EeTnaC1S4-unsplash 1.png" alt="wes photo">
</div> -->
      <div class="Rigister__transparent">
        <h1 class="Rigister__title">Tips!!!</h1>
        <p class="Rigister__desc">We offer a complete package of high-quality digital marketing services at affordable
          prices. Call now for a fast quote!</p>
      </div>
    </div>
    <div class="form-container">
    <h1>Create Account</h1>
    <p> Enter your details to get start your track
      started with us.</p>

    <div class="container">
      <form action="form" class="">
            <label for="fname">Name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="Your email..">
            <label for="fname">Phone Number:</label><br>
            <input id="phone number" name="phone number"><br>
            <label for="lname">Address:</label><br>
            <input type="text" id="address" name="address" placeholder="  Your address..">
            <div>
              <label for="gender"><b>Gender</b></label>
              <input type="gender" id="gender" name="gender" placeholder=" gender..">
    
                <label for="age range">Age Range
                  <input id="age range" name="age range">
                </label>
          </div>
          <label for="fname"><b>Track</b>:</label><br>
          <input type="text" id="track" name="track" placeholder="Track.."><br>
          <div class="time-e">
            <div class="employ">
          <label for="time dedication"><b>Time Dedication:</b></label>
            <label for="employment status"><b>Employment Status:</b></label>
          </div>
          <div class="time-dedication">
            <input type="time dedication" id="time dedication" name="time dedication" placeholder="Time Dedication..">
            <input type="employment status" id="employment status" name="employment status"
              placeholder="employment status..">
            </div>
            </div>
            <input type="submit" value="Register  ">
      </form>

      <p>
        Already have an account?
        <span>
          <a href="/login" class="login-link" id="register-on-login">Login here</a>
        </span>
      </p>
    </div>
  </div>
    </div>
  </div>
  </section>
