
    <div class="services-wrap">

        
        <h3 class="services-wrap__h3">Services</h3>
        <div class="services">
            <h2 class="services__h3">Full Service Digital Creative Agency</h2>

            <p class="services__p">We pride ourselves on delievering, compiling, digital marketing solutions. Our winning solutions in experiences help many of out clients interact and engage with their customers
                in the best possible way
            </p>
           
            <div class="services__boxes">
                
                <div class="services__design">
                    <div class="services__design_image">
                        <img src="/assets/images/image 8.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>UI/UX Design</h3> 
                        <p>User Interface " is the graphical layout of an applicaton. UI designers create the look and ...</p>
                    </div>
                </div>

                <div class="services__design2">
                    <div class="services__design_image">
                        <img src="/assets/images/marketing.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>Marketing</h3> 
                        <p>Having a socail presence, whether you're a startup or a well-established compamy, is critical...</p>
                    </div>
                </div>

                <div class="services__design3">
                    <div class="services__design_image">
                        <img src="/assets/images/webdevelopement.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>Web Development</h3> 
                        <p>We take a comprehensive approach to web development starting from coding and mark-up to </p>
                    </div>
                </div>
            </div>

            <div class="services__boxes">
                
                <div class="services__design">
                    <div class="services__design_image">
                        <img src="/assets/images/copy-writitng.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>Copywriting</h3> 
                        <p>We are dedicated to serving our clients with excellence, committed to working together as a ....</p>
                    </div>
                </div>

                <div class="services__design2">
                    <div class="services__design_image">
                        <img src="/assets/images/internet.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>Internet Facilities</h3> 
                        <p>Having a social presence, whether you’re a startup or a well-established company, is critical...</p>
                    </div>
                </div>

                <div class="services__design3">
                    <div class="services__design_image">
                        <img src="/assets/images/graphics.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>Graphics Design</h3> 
                        <p>We take a comprehensive approach to web development starting from coding and mark-up to </p>
                    </div>
                </div>
            </div>

            <div class="services__boxes">
                
                <div class="services__design">
                    <div class="services__design_image">
                        <img src="/assets/images/andriod.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>Andriod</h3> 
                        <p>User Interface " is the graphical layout of an applicaton. UI designers create the look and ...</p>
                    </div>
                </div>

                <div class="services__design2">
                    <div class="services__design_image">
                        <img src="/assets/images/ios.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>iOS</h3> 
                        <p>Having a socail presence, whether you're a startup or a well-established compamy, is critical...</p>
                    </div>
                </div>

                <div class="services__design3">
                    <div class="services__design_image">
                        <img src="/assets/images/seo.png" alt="">
                    </div>
                    <div class="services__design_text">
                       <h3>SEO</h3> 
                        <p>We take a comprehensive approach to web development starting from coding and mark-up to </p>
                    </div>
                </div>
            </div>
            

        </div>
    </div>