<section class="servico">
  <div class="rafter">
    <div class="shapes">
      <div class="shapes__small shapes--small">
        <div class="innersm"></div>
      </div>
      <div class="shapes__big shapes--big">
        <div class="innerbg"></div>
      </div>
    </div>
    <div class="line">
      <div class="line__main line--main"></div>
      <p class="line__text line--text">CARE & SHARE</p>
    </div>
    <div class="cushare">
      <h3 class="cushare__head cushare--headt">We Care And Share Businesses With Our Customers</h3>
      <p class="cushare__parag cushare--parag">Your website is the first thing that speaks to your customers. This is why we make sure your site leaves a lasting impression.</p>
      <button class="cushare__btn cushare--btn">Check More</button>
    </div>
  </div>
</section>