<header class="header container">
    <article class="header__article">
      <div
        class="header__article__circle header__article__circle--bg hide icon-hide"
      >
        <img src="../assets/icons/Ellipse 20.svg" alt="ellipse" />
      </div>
      <div
        class="header__article__circle header__article__circle--sm1 hide icon-hide"
      >
        <img src="../assets/icons/Ellipse 21.svg" alt="ellipse" />
      </div>
      <div
        class="header__article__circle header__article__circle--sm2 hide icon-hide"
      >
        <img src="../assets/icons/Ellipse 22.svg" alt="ellipse" />
      </div>
  
      <h1 class="header__title">Our Services</h1>
      <p class="header__paragraph">
        We offer a complete package of high-quality digital marketing services at affordable prices. Call now for a fast quote!
      </p>
      <button class="btn">Discover All Services</button>
    </article>
    <aside class="header__aside">
      <div class="header__aside__container header__aside__container--1">
        <img
          src="../assets/images/man-with-laptop2.png"
          alt="handsome-man-with-laptop"
        />
      </div>
      <div class="header__aside__container header__aside__container--2">
        <img
          src="../assets/images/joyful-handsome-european-man-feels-glad-celebrates-winning-online-game-clenches-fist-with-triumph-holds-mobile-phone-wears-round-spectacles-checkered-shirt-isolated-white-background 1.png"
          alt="handsome-man-with-laptop"
        />
      </div>
    </aside>
  </header>
  