
.services-wrap{
     width:80%;
     margin: 5% auto; 
     display: flex;  
}

.heading{
 display: flex;
 align-items: flex-start;
 gap: 10px;
}

.services{
    border: none;
    border-radius: 5px;
    padding-left: 40px;

    &__h3{
        font-size: 18px;
        width: 100%;
    }
    &__p{
        font-size: 15px;
        width: 100%;
        padding-bottom: 10px;
    }
    &__boxes{
         display: block;
         align-items: center;
         border-radius: 10px;
    }
    &__design{
           background-color: $sky_blue_50;
           width: 100%;
           padding: 20px;
           border-radius: 10px;
           margin-bottom: 5%;
        &_image{
             width: 150px;
             height: 150px;
    }
  
    &_text h3{
        font-size: 18x;
       }
       &_text p{
        font-size: 15px;
       }
    }
    &__design2{
        background-color: $grey_100;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 5%
    }
    &__design3{
        background-color:$grey_200;
        padding: 20px;
        width:100%;
        border-radius: 10px;
    }
}

//ttablets
@media(min-width:769px){
    .services{
        &__h3{
            font-size: 44px;
            width: 70%;
        }
        &__p{
            font-size: 24px;
            width: 90%;
        }
        &__boxes{
             display: grid;
             grid-template-columns: 40% 40%;
            gap: 10%;
             border-radius: 10px;
        }
        &__design{
               background-color: #E2F9FF;
               width: 100%;
               height: 500px;
            &_image{
                 width: 150px;
                 height: 150px;
        }
      
        &_text h3{
            font-size: 32px;
           }
           &_text p{
            font-size: 24px;
           }
        }
        &__design2{
            background-color: #E9EEFF;
            width: 100%;
            height: 500px;
        
        }
        &__design3{
            background-color:#ECECEC;
            width: 100%;
            height: 500px;
        }
    }
}
//laptop
@media(min-width:1200px){
    .services{
        &__h3{
            font-size: 44px;
            width: 45%;
        }
        &__p{
            font-size: 24px;
            width: 75%;
        }
        &__boxes{
            display: grid;
            grid-template-columns: 30% 30% 30%;
            gap: 5%;
  
        }
        &__design{
               background-color: #E2F9FF;
               width: 100%;
            height: 480px;
            margin: 0;

        }
        &__design2{
            background-color: #E9EEFF;
            width: 100%;
            height: 480px;
            margin: 0;

        }
        &__design3{
            background-color:#ECECEC;
            width:100%;
            height: 480px;
           margin: 0;
        }
        &__design3 p{
text-overflow: ellipsis;
        }
    }
}
